*{
  background: #fff;
  font-family:"Coiny";
  padding: 0;
  margin: 0;
  position: relative;
}
.a{
  height: 500px;
}
#header{
  height: auto;
  overflow: hidden;
  margin: 30px 0px 50px 150px;
}
#header .logo{
  float: left;
  cursor: pointer;
  transition: 0.5s;
  z-index: 2;
}
.box-search{
  margin-top: 50px;
  float:right;
  right: 550px;
}
.input-search{
  width: 600px;
  height: 30px;
  border: 2px solid #4565A8;
}
.search-button{
  width: 55px;
  height: 32px;
  cursor: pointer;
  border: 2px solid #4565A8;
  outline: none;
  z-index: 2;
  margin-left: -61px;
  background: #4565A8;
  top: 11px;

}
.search-button i{
  margin-left: 10px;
  font-size: 18px;
  background: #4565A8;
  color: #fff;
  bottom: 8px;
}
.login b{
  color: black;
  right: 100px;
  }

#nav{
  width: 100%;
  height: 58px;
  background-color: #0066CC;
  position: relative;
}
#nav ul{
  line-height: 57px;
  margin-left: 140px;
  float: left;
  background: none;
}
#nav ul li a,b,i{
  margin:0;
  text-decoration: none;
  color: #F5F5F5;
  margin:15px;
  font-size: 16px;
  background: none;
  transition: 0.5s;

}
.nav-text li{
  display: inline-block;
  list-style: none;
  font-family: "Roboto Condensed";
  font-size: 20px;
  background: none;
  transition: 0.5s;
}
ul #mega-menu{
  width: 300px;
  height: 58px;
  background: #DD0000;
  margin-left: 20px;
  cursor: pointer;
}
.menu{
  width: 300px;
  border: 2px solid black;
  margin-top: 5px;
  right: 140px;
  display: none;
}
 .menu li{
  display: list-item;
  background: #ebebeb;
  text-align: center;
  transition: 0.5s;
}
  .menu li a{
  color: black !important;
  font-size: 20px !important;
}
.menu1{
  display: inline;
}
.menu1 >.title li {
  z-index: 112 !important;
  margin-left: 162px;
  width: 300px;
  top: -56px;
  background: #ebebeb;
  display: none;
}
.menu1 .title{
  position: absolute;
}
li {
	background: red ;
}
.menu li:hover{
  background: #fff;
  color: black;
}
.menu1:hover  ul.title li{
  display: block;
}
.nav-text li:hover{
  background:#002200;
  }
.click-contact-us{
  background: #002200 !important;
}
